In [300]:
import pandas as pd 
df = pd.DataFrame({'A': ['Aaron', None, 3], 'B': [1, 2, None], 'C': [1, 2, 3]})

mitosheet.sheet(df, analysis_to_replay="id-sgwuxfhykx")

MitoWidget(analysis_data_json='{"analysisName": "id-txpmsrwkgv", "analysisToReplay": {"analysisName": "id-sgwu…

In [301]:
df = df[['A', 'B']].isnull()
df

       A      B  C
0  False  False  1
1   True  False  2
2  False   True  3

In [268]:
mitosheet.sheet(df, analysis_to_replay="id-wdlerthzdd")

MitoWidget(analysis_data_json='{"analysisName": "id-wdlerthzdd", "analysisToReplay": null, "code": [], "stepSu…

In [9]:
mitosheet.sheet(df, analysis_to_replay="id-gxioqkojeu")

MitoWidget(analysis_data_json='{"analysisName": "id-bgcdasanwa", "analysisToReplay": {"analysisName": "id-gxio…

In [283]:
from mitosheet import *; register_analysis("id-gxioqkojeu");
    
# Imported Untitled Report(7).csv
import pandas as pd
Untitled_Report_7 = pd.read_csv(r'/Users/aarondiamond-reivich/Downloads/Untitled Report(7).csv')

# Imported ParentData.csv
import pandas as pd
ParentData = pd.read_csv(r'/Users/aarondiamond-reivich/Downloads/ParentData.csv')

# Changed A to dtype datetime
import pandas as pd
df['A'] = pd.to_datetime(df['A'], infer_datetime_format=True, errors='coerce')

# Pivoted into df
tmp_df = df[['A']]
pivot_table = tmp_df.pivot_table(
    index=['A'],
    values=['A'],
    aggfunc={'A': ['count']}
)
pivot_table.set_axis([flatten_column_header(col) for col in pivot_table.keys()], axis=1, inplace=True)
df_pivot = pivot_table.reset_index()

# Added column new-column-k9ve
df.insert(1, 'new-column-k9ve', 0)

# Set formula of new-column-k9ve
df['new-column-k9ve'] = df['A']

# Renamed columns B
df.rename(columns={'new-column-k9ve': 'B'}, inplace=True)

# Changed A to dtype float
df = df[['A', 'B']].astype('int').astype('float') / 10**9

In [284]:
df

          A         B         B             B
0 -9.223372 -9.223372 -9.223372  0.000000e+00
1 -9.223372 -9.223372 -9.223372  0.000000e+00
2 -9.223372 -9.223372 -9.223372  1.000000e-09

In [282]:
df df[['A', 'B']].astype('int').astype('float')  / 10**9

ValueError: Expected a 1D array, got an array with shape (3, 3)

In [6]:
df['A'].dt.day_name()

0    Sunday
1    Friday
Name: A, dtype: object

In [143]:
df = pd.DataFrame({'A': ['1/4/25','11/2/22','9/3/22','7/2/2020','1/2/22 00:05:22', '12/2/22', '1/2/22 10:12:13', '5/2/22', '1/2/22', '3/4/24'], 'B': [9,2,2,2,2,2,9,8,9,10]})
df['A'] = pd.to_datetime(df['A'], infer_datetime_format=True, errors='coerce')

In [131]:
tmp_df = df[['A', 'B']]

tmp_df['A prime'] = df['A'].dt.month_name()
tmp_df['A prime 1'] = pd.Categorical(
    tmp_df['A prime'], 
    categories=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], 
    ordered=True)

tmp_df['A prime 2'] = df['A'].dt.day.astype(str)
tmp_df['A prime'] = tmp_df['A prime'].astype(str) + ' ' + df['A'].dt.day.astype(str)

tmp_df = tmp_df.sort_values(['A prime 1', 'A prime 2'], ascending = [True, True])

pivot_table = tmp_df.pivot_table(
    index=['A prime'],
    values=['B'],
    aggfunc={'B': ['sum']},
)
pivot_table.set_axis([flatten_column_header(col) for col in pivot_table.keys()], axis=1, inplace=True)
df_pivot = pivot_table.reset_index()
df_pivot

       A prime  B sum
0   December 2      6
1    January 2     21
2    January 4      1
3       July 2      4
4      March 4     10
5        May 2      8
6   November 2      2
7  September 3      3

In [237]:
df = pd.DataFrame({'A': ['1/4/25 00:05:02','1/4/25 00:01:03','9/3/22','7/2/2020','1/2/22 00:05:22', '12/2/22', '1/2/22 10:12:13', '5/2/22', '1/2/22', '3/4/24'], 'B': [100,100,2,2,2,2,9,8,9,10]})
df['A'] = pd.to_datetime(df['A'], infer_datetime_format=True, errors='coerce')

In [264]:
tmp_df = df[['A', 'B']]

tmp_df['A prime'] = tmp_df['A'].dt.quarter

pivot_table = tmp_df.pivot_table(
    index=['A prime'],
    values=['B'],
    aggfunc={'B': ['sum']},
)
pivot_table.set_axis([flatten_column_header(col) for col in pivot_table.keys()], axis=1, inplace=True)
df_pivot = pivot_table.reset_index()
df_pivot

   A prime  B sum
0        1    230
1        2      8
2        3      4
3        4      2

In [246]:
import mitosheet
mitosheet.sheet(df_pivot, analysis_to_replay="id-elxiirryla")

MitoWidget(analysis_data_json='{"analysisName": "id-elxiirryla", "analysisToReplay": null, "code": [], "stepSu…

In [ ]:
from mitosheet import *; register_analysis("id-elxiirryla");
    
# Renamed columns A prime (day of week)
df_pivot.rename(columns={'A prime': 'A prime (day of week)'}, inplace=True)

# Added column new-column-ifpt
df_pivot.insert(1, 'new-column-ifpt', 0)

# Set formula of new-column-ifpt
df_pivot['new-column-ifpt'] = df_pivot['A prime (day of week)']

# Added column new-column-wwtr
df_pivot.insert(2, 'new-column-wwtr', 0)

# Set formula of new-column-wwtr
df_pivot['new-column-wwtr'] = df_pivot['new-column-ifpt']

# Pivoted into df_pivot
tmp_df = df_pivot[['new-column-wwtr', 'A prime (day of week)']]
pivot_table = tmp_df.pivot_table(
    index=['A prime (day of week)'],
    values=['new-column-wwtr'],
    aggfunc={'new-column-wwtr': ['count']}
)
pivot_table.set_axis([flatten_column_header(col) for col in pivot_table.keys()], axis=1, inplace=True)
df_pivot_pivot = pivot_table.reset_index()

# Added column new-column-wlpz
df_pivot.insert(4, 'new-column-wlpz', 0)

# Set formula of new-column-wlpz
df_pivot['new-column-wlpz'] = df_pivot['B sum']

# Renamed columns A
df_pivot.rename(columns={'new-column-wlpz': 'A'}, inplace=True)

# Formatted dataframes. Print these styling objects to see the formatted dataframe
df_pivot_pivot_styler = df_pivot_pivot.style\
    .format("{:E}", subset=['new-column-wwtr count'])

In [140]:
df_pivot

   A prime  B sum
0        2     41
1        3      3
2        4     11

In [ ]:
\')'

In [296]:
df = pd.DataFrame({
    'A': ['1/4/25','11/2/22','9/3/22','7/2/2020','1/2/22 00:05:22', '12/2/22', '1/2/22 10:12:13', '5/2/22', '1/2/22', '3/4/24'], 
    'B': ['1/4/25','11/2/22','9/3/22','7/2/2020','1/2/22 00:05:22', '12/2/22', '1/2/22 10:12:13', '5/2/22', '1/2/22', '3/4/24'],
    'C': [1,2,3,4,5,6,7,8,9,10]
})
df[['A', 'B']] = df[['A', 'B']].apply(pd.to_datetime, infer_datetime_format=True, errors='coerce')
df

                    A                   B   C
0 2025-01-04 00:00:00 2025-01-04 00:00:00   1
1 2022-11-02 00:00:00 2022-11-02 00:00:00   2
2 2022-09-03 00:00:00 2022-09-03 00:00:00   3
3 2020-07-02 00:00:00 2020-07-02 00:00:00   4
4 2022-01-02 00:05:22 2022-01-02 00:05:22   5
5 2022-12-02 00:00:00 2022-12-02 00:00:00   6
6 2022-01-02 10:12:13 2022-01-02 10:12:13   7
7 2022-05-02 00:00:00 2022-05-02 00:00:00   8
8 2022-01-02 00:00:00 2022-01-02 00:00:00   9
9 2024-03-04 00:00:00 2024-03-04 00:00:00  10